In [13]:
import numpy as np
import pandas as pd

In [15]:
data =[
    ['gunjan', 20, 90],
    ['muskan', 21, 95],
    ['akanksha', 22, 98]
]

In [19]:
df = pd.DataFrame(data, columns = ["Name", "Age", "Marks"])

In [21]:
print(df)

       Name  Age  Marks
0    gunjan   20     90
1    muskan   21     95
2  akanksha   22     98

In [23]:
name = np.array(["ram", "shyam", "aman"])