In [105]:
import numpy as np
import math
import scipy
import pandas as pd

In [107]:
data= np.array([5,10,15,10,20])

In [109]:
df=pd.DataFrame(data)

In [111]:
mean=df.mean()

In [113]:
df.median()

0    10.0
dtype: float64

In [115]:
df.describe()

               0
count   5.000000
mean   12.000000
std     5.700877
min     5.000000
25%    10.000000
50%    10.000000
75%    15.000000
max    20.000000

In [117]:
df.isnull()

       0
0  False
1  False
2  False
3  False
4  False

In [119]:
df.sum()

0    60
dtype: int64

#Total Sum OF Square

In [136]:
sum=0
for i in df:
   sum +=np.sum((data[i]-mean) ** 2)

In [134]:
sum

49.0

##Question 2

In [142]:
# data1 = np.array([30, 10, 70, 40, 80])

In [169]:
number =[]
for i in range (5):
    num=int(input("Enter the number:"))
    number.append(num)
    t_sum=sum(number)
    avg=t_sum/len(number)
    print("Sum",t_sum)
    print("Avg:",avg)

Enter the number: 1

TypeError: 'numpy.float64' object is not callable

NameError: name 'Sum' is not defined